<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ansible Deployed Tomcat</title>
  <meta name="description" content="Ansible Created Content">
  <meta name="ramp856@gmail.com" content="Ansible"SitePoint">

</head>

<body>
    <h1>Welcome to Tomcat-Deployed via ANSIBLE {{ inventory_hostname }}</h1>
</body>
</html>
